
.alert-box{
    position: absolute;
    left:0;
    top: 0;
    display: none;
    background-color: #fff;
    overflow: hidden;
    width:100%;
    z-index:102;
}
.alert-box .fixed-panel{
    left:40px;
}
.alert-inner .cloudClinic-box{

    margin-left:0;
}
.alert-box .main-content-inner{
    width: 96.4%;
    padding: 0;
}
b{
    font-weight: normal;
}
button, input, select, textarea,.gr-border{
    border:#dfdfdf 1px solid;
    overflow-y: hidden;
    padding: 0;
}
.alert-box .same-line{
	display: inline-block;
}
.alert-box .main-header{
    margin-top:20px;
}
.alert-box .info-title{
    display: block;
    width:102px;
    text-align: right;
    float: left;
}
.alert-box .info-title2{
    padding-right:12px;
    display: block;
    width:58px;
    text-align: right;
    float: left;
}
.alert-box .patient-info-title,.medical-info-title{
    height:49px;
    line-height: 49px;
    color:#383838;
    font-size: 14px;
    padding-left:24px;
    border-top: 1px solid #dfdfdf;
    background-color: #f5f5f5;
    margin:22px 0 32px 0;
}
.alert-box .first-line,.second-line{
	width:768px;
	height:32px;
	line-height: 32px;
	font-size: 14px;
    position: relative;
}
.alert-box .second-line{
    margin-top:24px;
}
.alert-box .third-line,.four-line,.five-line,.six-line{
    margin-top:24px;
}
.alert-box .personId-title{
    height:32px;
    line-height: 32px;
}
.alert-box .personId-input,.emergency-contact-input,.emergency-contact-phone-input,.remarks-input{
    width: 614px;
    margin-left: 10px;
    padding:0 10px;
    height:32px;
    line-height: 32px;
}
.alert-box .single-information{
    /*width:330px;*/
    display: inline-block;
}
.alert-box .single-information-age{
    margin-right:73px;
}
.alert-box .phone{
    width:324px;
    position: absolute;
    right: 5px;
    top: 0;
}
.alert-box .first-line .name{
    width:432px;

}
.alert-box .info-must{
	color: red;
}
.alert-box .first-line .single-information .zh-ipt{
	margin:0 10px;
	padding:0 15px;
}
.alert-box .first-line .single-information .patient-name{
    width: 200px;
    height: 32px;
    line-height: 32px;
    display: inline-block;
    border: 1px solid #dfdfdf;
    overflow: hidden;
    word-break: break-all;
    vertical-align: top;
}
.alert-box .first-line .single-information .patient-name:focus{
    border: 1px solid #3d77b9;
}
.alert-box .first-line .single-information .patient-name.disabled{
    background: #f5f5f5;
}
.alert-box .first-line .sex{
    width:324px;
    height:32px;
    vertical-align: top;
    position: absolute;
    right:50px;
    top:0;
}

.alert-box .first-line .single-information .sex-radio{
    width:17px;
    height:17px;
    line-height: 32px;
    background: url(../../images/unselect.jpg) no-repeat center;
    display: inline-block;
    margin-right:5px;
    margin-left:25px;
    vertical-align: -5%;
    +vertical-align: 9%;
    cursor:pointer;
}

.alert-box .first-line .single-information .sex-cur{
    width:17px !important;height:17px !important;
    background: url(../../images/select.jpg) no-repeat center;
    vertical-align: -5%;
+vertical-align: 9%;
}
.alert-box .first-line .single-information .sex-cur.sex-disable{
    width:17px !important;height:17px !important;
    background: url(../../images/disabled.jpg) no-repeat center;
    vertical-align: -5%;
+vertical-align: 9%;
}
.alert-box .second-line .single-information .patient-age{
    width:156px;
    height:32px;
    line-height: 32px;
    margin-left:10px;
    padding-left: 15px;
    text-align: left;
}

/* 222  */
.alert-box .first-patient-history{
    width:768px;
    line-height: 34px;
    margin:24px 0 0 0;
    font-size: 14px;
}
.alert-box .first-patient-history .info-must{
    color: red;
}

.alert-box .first-patient-history .patient-old{
    width:614px;
    line-height: 32px;
    padding:0 10px;
    overflow: hidden;
    word-break: break-all;
    min-height: 32px;
}

/* 333  */
.alert-box .patient-history,.patient-history2 {
    line-height: 34px;
    font-size: 14px;
}
.alert-box .patient-history .zh-ipt2{
    width:614px;
    line-height: 32px;
    padding:0 10px;
    overflow: hidden;
    word-break: break-all;
    min-height:32px;
}
.alert-box .patient-history2 .zh-ipt2{
    width:614px;
    line-height: 32px;
    min-height:32px;
    padding:0 10px;
    color:#000;
}
.alert-box .t_area{
    width:300px;
    overflow-y:visible
}
.red-ipt{
    border: 1px solid #ffb2b2;
}
.numIpt{
    padding: 0;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #ccc;
} 
input:-moz-placeholder, textarea:-moz-placeholder { 
color: #ccc;
} 
input::-moz-placeholder, textarea::-moz-placeholder { 
color: #ccc;
} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
color: #ccc;
}
.alert-box .addWestPrescriptionList,.addChinesePrescriptionList{
    cursor: pointer;
}
.autoHeight{
    overflow: hidden;
    position: relative;
    margin-top:24px;
}
.autoTitle{
    height:32px;
    line-height: 32px;
    font-weight: normal;
    color: #1a1a1a;
}
.autoIpt{
    margin-left:10px;
    float:left;
}
.autoIpt:focus{
    outline: none;
    border: 1px solid #3d77b9;
}
.check-search,.drug-search{
    position: relative;
}
.check-search{
   /* width:588px;*/
   /* margin:20px 26px 20px 81px;*/
}
.drug-search{
    float:left;
    display: inline-block;
}

.check-search .Check-item{
    display: inline-block;
    height:32px;
    line-height: 32px;
    vertical-align: middle;
    padding:0 10px;
    width:382px;
    margin-right: 5px;
    position: relative;
}
.check-search .check-num{
    display: inline-block;
    width:32px;
    height:30px;
    line-height: 30px;
    vertical-align: middle;
    padding:0 5px;
}

.check-search .sug-ul-dom{
    width:495px;
    background: #fff;
    border:#d6d3d4 1px solid;
    z-index:998;
    position: absolute;
    top:42px;
    display: none;
    margin-left:58px;
}
.check-search .sug-ul-dom li{
    margin:0 auto;
    padding-left:11px;
    height:31px;
    line-height:31px;
    font-size: 14px;
    cursor: pointer;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
/*药品sug-开始*/
.WestPrescriptionLists .drug-sug-name{
    width:495px;
    left:0;
}
.ChinesePrescriptionList .drug-sug-name{
    width:495px;
    left:56px;
}
.west-sug-usage{
    left: 200px;
}
.west-sug-frequency{
    left:266px;
}
.west-sug-dosunit{
    left:394px;
}
.herber-sug-frequency{
    left: 61px;
}
.herber-sug-usage{
    left:53px;
}
.herber-sug-require{
    left:60px;
}
.herber-sug-common{
    left:327px;
}
.west-sug-totalunit{
    width:43px;
    left:0;
}

.WestPrescriptionLists .sug-ul-dom,.ChinesePrescription .sug-ul-dom{
    top:33px;
    background: #fff;
    border:#d6d3d4 1px solid;
    display: none;
    z-index:99;
    position: absolute;
}

.WestPrescriptionLists .sug-ul-dom li,.ChinesePrescription .sug-ul-dom li{
    /*margin:0 auto;*/
    padding-left:10px;
    height:31px;
    line-height:31px;
    font-size: 14px;
    cursor: pointer;
    white-space:nowrap; 
    overflow:hidden; 
    text-overflow:ellipsis;
}
.check-search .sug-ul-dom li:hover,.WestPrescriptionLists .sug-ul-dom li:hover,.ChinesePrescription .sug-ul-dom li:hover{
    background: #f5f5f5;
}
/*药品sug-结束*/
.sampleList{
    margin:0 5px;
}
.alert-box .nav-fixed{
    width:100%;
}
.alert-box .nav-fixed{
    overflow: hidden;
    height:49px;
    line-height: 49px;
    border-bottom: 1px #d4d4d4 solid;
}
.alert-box .nav-fixed .new-txt{
    margin-left:10px;
    font-size: 20px;
    font-weight: bold;
}
.alert-box .page-title{
    float: left;
}
.alert-box .nav-fixed .nav-btn{
    margin-left:10px;
    float:left;
}
.alert-box .nav-fixed .save-and-create,.nav-fixed .only-save,.nav-fixed .print,.nav-fixed .only-cancel{
    width:88px;
    height:30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-left: 16px;
    font-size: 14px;
    color:#3d77b9;
}
.alert-box .nav-fixed .only-save{
    cursor: default;
    color:#cccccc;
    background: url("../../images/gray-btn.png") no-repeat center center;
}
.alert-box .nav-fixed .only-save.j_only_save{
    cursor: pointer;
    color:#3d77b9;
    background: url("../../images/short-btn-bg.jpg") no-repeat center center;
}
.alert-box .nav-fixed .only-save.j_only_save:active,.alert-box .short-btn:active{
    color:#fff;
    background: url("../../images/short-btn-bg.jpg") no-repeat center bottom;
}
.alert-box .nav-fixed .save-and-create{
    width:114px;
}
/* 云诊所box */
.alert-box .cloudClinic-box{
    width:100%;
    min-width: 680px;
    overflow-x: hidden;
    overflow-y: auto;
}
/* 辅助诊断iframe */
.alert-box .page-iframe-content{
    position: absolute;
    width:400px;
    height:542px;
    top: 0;
    z-index:101;
    overflow: hidden;
    display: none;
}
.alert-box .ifm-box{
    width:400px;
    height:600px;
    margin-top: -57px;
}

.alert-box .record-pop {
    /*display: none;*/
    /*position: absolute;*/
    /*top: 57px;*/
    /*left: 50%;*/
    margin-left: -300px;
    /*width: 200px;*/
    /*height: 30px;*/
    /*font-size: 14px;*/
    /*text-align: center;*/
    /*line-height: 30px;*/
    /*color: #ffffff;*/
    /*border-radius: 15px;*/
    /*overflow: hidden;*/
    /*opacity: 0.8;*/
    /*filter: alpha(opacity=80);*/
    /*-moz-opacity: 0.8;*/
    /*-khtml-opacity: 0.8;*/
}

/*.record-success{*/
    /*background:#6fcc47;*/
/*}*/
/*.record-error{*/
    /*background: #f68b8b;*/
/*}*/
/*.record-error-mark{*/
    /*display: inline-block;*/
    /*width: 20px;*/
    /*height: 20px;*/
    /*vertical-align: middle;*/
    /*background: url("../../images/index-sprite1.png") no-repeat -80px -80px;*/
/*}*/
.alert-box .record-success{
    background:#6fcc47;
}
.alert-box .name .sug-ul-dom{
    position: absolute;
    width: 230px;
    overflow: hidden;
    background: #fff;
    top: 33px;
    left: 110px;
    z-index: 9;
    border: 1px solid #999;
    color: #383838;
}

.alert-box .name .sug-ul-dom li{
    padding:0 15px;
    cursor: pointer;
    font-size: 14px;
    height: 43px;
    line-height: 43px;
}
.alert-box .name .sug-ul-dom i{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.alert-box .name .sug-ul-dom li:hover,.s-hover{
    background: #f5f5f5;
}
.alert-box .name .sug-ul-dom .name-search-name{
    width: 50%;
}
.alert-box .name .sug-ul-dom .name-search-gender{
    width: 23%;
}
.alert-box .name .sug-ul-dom .name-search-age{
    width: 24%;
}
.alert-box .p_ageType{
    width:52px;
    height:34px;
    /*line-height: 34px;*/
    /*margin-left:-7px;*/
    /*padding:5px 0;*/
    /*text-align: center;*/
    /*vertical-align: -5%\9;*/
}
/*:root .p_ageType{*/
    /*vertical-align: 0;*/
/*}*/
.alert-box .deleteWestDrugList,.deleteChinesePrescriptionList,.deleApendCost{
    display: inline-block;
    width:16px;
    height:16px;
    background: url("../../images/deleteIcon.png") no-repeat center center;
    cursor: pointer;
    margin-left:5px;
}
.alert-box .phone-num{
    width:215px;
    height:32px;
    line-height: 32px;
    padding:0 10px;
}
.alert-box .short-btn{
    display: inline-block;
    width:88px;
    height:30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    color:#3d77b9;
    background: url("../../images/short-btn-bg.jpg") no-repeat center center;
    font-size: 14px;
    margin-left:2px;
}
.alert-box .long-btn{
    display: inline-block;
    width:114px;
    height:30px;
    line-height: 30px;
    text-align: center;
    margin-left: 2px;
    cursor: pointer;
    color:#3d77b9;
    background: url("../../images/long-btn-bg.jpg") no-repeat center center;
    font-size: 14px;
}
.alert-box .deleteWestDrugList,.deleteChinesePrescriptionList{
    display: inline-block;
    width:16px;
    height:16px;
    background: url("../../images/deleteIcon.png") no-repeat center center;
    cursor: pointer;
    margin-left:1px;
   /* float:left;*/
}
.alert-box .drugItemTitle{
    width:635px;
    margin:0 auto;
}
.alert-box .drugItemTitle span{
    text-align: center;
    display: inline-block;
    margin:0 1px;
    font-size: 14px;
}

.alert-box .drugItemTitle span.drugNameTitle{
    width:162px;
}
.alert-box .drugItemTitle span.drugGroupTitle{
    width:37px;
}
.alert-box .drugItemTitle span.drugWayTitle{
    width:62px;
}
.alert-box .drugItemTitle span.drugFrequencyTitle{
    width:74px;
}
.alert-box .drugItemTitle span.drugChargeTitle{
    width:96px;
}
.alert-box .drugItemTitle span.drugUnitTitle{
    width:96px;
}
.alert-box .loadRecord-btn,.saveRecord-btn,.addChineseDrug,.loadCommonPres{
    margin-left:16px;
}
.deleteCheckSearch{
    width:16px;
    height:16px;
    background: url("../../images/deleteIcon.png") no-repeat center center;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin-left:10px;
    /*position: absolute;*/
    /*top: 10px;*/
    /*right: 4px;*/
}




 /*lmz  2016-3-2 云诊所三期  新添加*/


/* 添加成药处方*/
.main-mid4 .five-line1 .small-title .drugBtn{
    margin-left:10px;
}

.main-mid4 .five-line1 .WestPrescriptionList .univalent{
    width:75px;
    display:inline-block;
    padding-left:1px;
    overflow: hidden;
    float:left;
    text-overflow: ellipsis;
}
/* 添加重要处方*/

.main-mid4 .five-line1 .small-title .drugBtn{
    margin-left:10px;
}

.main-mid4 .five-line1 .ChinesePrescriptionLists .univalent{
    width:75px;
    display:inline-block;
    padding-left:8px;
     overflow:hidden; 
    text-overflow:ellipsis;
    float:left;
}



    /*附加费用*/

.main-mid6 .four-line1{
    width:667px;
    margin:24px auto;
    line-height: 50px;
    font-size: 14px;
   
}



.main-mid6 .four-line1 .addCosts-main{
    width: 655px;
    margin: 24px auto;
    line-height: 50px;
    font-size: 14px;
    position:relative;
   /* border: 1px solid #d6d6d6;
    background: #f5f5f5;*/

}
.main-mid6 .four-line1 .addCosts-main .chargeIcon{
    position:absolute;
    left:-20px;
    top:-17px;
    background: url(../../images/hasCharge.png);
    /*background-size:80px;*/
    height:100px;
    width:100px;
    display:none;
    z-index: 99
}
.main-mid6 .four-line1 .small-title{
    width:655px;
    height:40px;
    margin:0 auto;
    /*background: #e4f3ff;*/
    line-height: 40px;
    border-bottom:1px dashed #dfdfdf;
}
.main-mid6 .four-line1 .small-title .deleteAddCosts{
    cursor:pointer;
    float:right;
    font-size: 14px;
    color:#3d77b9;
}

.main-mid6 .four-line1 .addCost-way{
    display:block;
    width: 660px;
    margin: 0 auto;
    overflow: hidden;
}
.main-mid6 .four-line1 .addCost-way .addWay{
    display:block;
    width:660px;
    height:50px;
    /*padding-left:15px;*/
    /*padding-right:15px;*/
   /* background: #f5f5f5;*/

}
.main-mid6 .four-line1  .addCost-way .addCharged{
    border-left:1px solid #dfdfdf;
    border-right:1px solid #dfdfdf;
}
.way-search{
     display:inline-block;
    /* width:245px;*/
}
.way-search input,.way-search em,.way-search a{
    height:32px;
    line-height: 32px;
    float:left;
    margin-top:8px;
    padding: 0 5px;
}
.way-search input.material{
    width: 440px;
    margin-left: 58px;
}
.main-mid6 .four-line1  .addCost-way .zh-ipt{
    width: 48px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    /* padding-left: 5px; */
}




/* 医嘱*/
.doctorSay {
    width:615px;
    margin:0 auto;
    line-height: 25px;
    font-size: 14px;
}
.doctorSay .zh-ipt2 {
    width: 525px;
    /* margin: 0 10px 0 8px; */
    min-height:32px;
    line-height:32px;
    padding: 0 5px;
    line-height: 32px;
    float: left;
}
.autoIpt2{
    margin-left:38px;
}
.autoIpt2:focus{
    outline: none;
    border: 1px solid #3d77b9;
}
/* 合计金额 */

.main-mid7 .four-line2{
       width: 667px;
    margin: 24px auto;
    height: 40px;
    line-height:40px;
    font-size: 12px;
    border: 1px solid #d6d6d6;
    background: #f5f5f5;
   
}

.main-mid7 .four-line2 .totalAmount{
    float:right;
    margin-right: 10px;
}
.main-mid7 .four-line2 .totalAmount em{
     font-size: 14px;
     color:red;
}

/*检查治疗项*/
.main-mid3 .check-search #supportCheck{
    position:relative;
    z-index: 7
}
/*校验    检查项和处方的校验*/
.main-mid3 .check-search .heckIcon{
    position:absolute;
    width: 16px;
    height: 14px;
    background: url("../../images/L_icon.png") no-repeat center center;
    /*background-size: 18px;*/
    display: none;
    cursor: pointer;
    vertical-align: middle;
    left:442px;
    top:20px;
    z-index: 8
}
.main-mid3 .check-search .iconDiv{
    display:none;
    position:absolute;
    left:263px;
    top:42px;
    z-index: 999;
    line-height: 20px;
    /*background:#848484;*/
   /* background:url("../../images/btonIcon.png") no-repeat  center; */
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    background:#848484;
    padding:10px;
    color:#ffffff;
}
.main-mid3 .check-search .jiantou{
    display:none;
    position:absolute;
    top:34px;
    left:440px;
    z-index: 999;
    background:url("../../images/topIcon.png") no-repeat  center; 
    /*background-size:10px 15px;*/
    width:19px;
    height:10px;
}
/*药品*/
.main-mid4 .iconDiv,.iconDiv1{
    display:none;
    position:absolute;
    left:102px;
    top:32px;
   /* background:#fff;*/
   line-height: 25px;
    z-index: 999;
    color:#fff;
   /* padding:5px;*/

}

.main-mid4 .ChinesePrescriptionLists .iconDiv{
    left:150px;
}
.main-mid4 .ChinesePrescriptionLists .heckIcon{
     left:206px;
}

.main-mid4 .iconDiv1{
   /* background: url("../../images/btonIcon.png") no-repeat center;
    background-size:177px 32px;*/
    background:#848484;
   /* padding:10px;*/
    left:422px;
    top:32px;
   /* width:177px;*/
    height:25px;
    line-height: 25px;
    text-indent: 3px;
    font-size:12px;
    text-align: center;
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 

}
.main-mid4 .ChinesePrescriptionLists .iconDiv1{
   
    left:222px;

}

.main-mid4 .jiantou1{
    position: absolute;
    top: 25px;
    left: 480px;
    z-index: 999;
    background: url("../../images/topIcon.png") no-repeat center;
    /*background-size: 8px 13px;*/
    width: 14px;
    height: 9px;
    display:none;
}


.main-mid4 .ChinesePrescriptionLists .jiantou1{
   
    left: 293px;
   
}
.main-mid4 .heckIcon,.heckIcon1{
    position:absolute;
    width: 16px;
    height: 14px;
    background: url("../../images/L_icon.png") no-repeat center center;
    /*background-size: 15px;*/
    display: none;
    cursor: pointer;
    vertical-align: middle;
    left:150px;
    top:10px;
    z-index: 98
}

.main-mid4 .iconDiv{
    position: absolute;
    /*left: 0px;*/
   /* top: 22px;*/
    z-index: 99;
    background:#848484;
   /* padding: 10px;*/
    border-radius: 5px;
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
   /* padding:0 5px;*/
    /*height:60px;*/
   /* background-size:345px 60px;*/
}
.main-mid4 .iconDiv p{
    width:125px;
    height:25px;
    text-align: center;
    font-size: 12px;
   /* display:block;*/
   /* margin:auto;*/
    padding:0 5px;
}
.main-mid4 .WestPrescriptionLists .jiantou{ /*西药*/
    position: absolute;
    top: 22px;
    left: 152px;
    z-index: 98;
    background: url("../../images/topIcon.png") no-repeat center;
    /*background-size: 10px 15px;*/
    width: 14px;
    height: 9px;
    display:none;
}
.main-mid4 .ChinesePrescriptionLists .jiantou{ /*中药*/
    position: absolute;
    top: 22px;
    left: 207px;
    z-index: 98;
    background: url("../../images/topIcon.png") no-repeat center;
    /*background-size: 10px 15px;*/
    width: 14px;
    height: 9px;
    display:none;
}
.main-mid4 .ChinesePrescriptionLists .unit{
    float: left;
    width: 20px;
    height: 34px;
    overflow: hidden;
    text-align: center;
}
.main-mid4 .ChinesePrescriptionLists .heckIcon1{
    left:291px;
   
}
.main-mid4 .WestPrescriptionLists .heckIcon1{
     left:477px;
    /* display:block;*/
}
/*添加下拉，单位*/
.way2 .unitConMain{
    display:inline-block;
    position:relative;
}


/*载入模板*/
.template_load,.template_save{
    width:600px;
    height:auto;
    border:1px solid #ccc;
}

.template_loadTop,.template_saveTop{
    height:40px;
    width:100%;
    position:relative;
    line-height:40px;
    font-size:16px;
    background:#3d77b9;
}

.template_loadTop span,.template_saveTop span{
    padding-left:10px;

}
.template_loadTop a,.template_saveTop a{
    position:absolute;
    height:40px;
    line-height:40px;
    right:10px;
}

.template_loadCon,.template_saveCon{
    width:100%;

}
.template_loadCon table,.template_saveCon table{
    width:100%; 
}
.template_loadCon  thead{
    width:100%;

}

.template_loadCon  thead tr{
    height:35px;
    width:100%;
    background:#f5f5f5;
    font-size: 14px;

}
.template_loadCon  tbody tr{
    height:35px;
    width:100%;
    border-bottom:1px solid #ccc;

}
.template_loadCon  tr th,.template_loadCon  tr td{
    width:45%;
    text-align: center;
    line-height:20px;
}
.template_loadCon  thead tr th:first-child,.template_loadCon  tr td:first-child{
    width:10%;
    text-align: center;
}

.template_loadbtn,.template_savebtn{
    width:100%;
    overflow: hidden;
    margin:15px auto;
}

.template_loadbtn ul li,.template_savebtn ul li{
    width:50%;
    text-align: center;
    display: inline-block;
     float: left;
}
.template_loadbtn a,.template_savebtn a{
    display: inline-block;
    width: 88px;
    height: 30px;
    line-height: 30px;
    background: url("../../images/blue-btn.jpg") no-repeat center center;
    color: #FFF;
    font-size: 14px;
   
} 
.template_saveCon{
    padding:15px;
}
.template_saveCon table tr{
    margin-top:8px;
    display:inline-block;
}
.template_saveCon table td:first-child{
    width:80px;
    text-align: right;
    font-size:14px;
}
.template_saveCon table td .info-must {
    color: red;
    }


.template_saveCon table td .templateName{
    width:445px;
    margin-left:8px;
}
.template_saveCon table td .templateExp{
    width:445px;
    margin-left:8px;
    height:150px;
}





/*修改西药问题*/
.way2 input{
    float:left;
} 

.wetUitDiv{
    float: left;
   display:inline-block;
   position:relative; 
}
/*.wetUitDiv ul{*/
    /*position:absolute;*/
    /*background:#fff;*/
    /*display:none;*/
    /*z-index:9;*/
    /*width:43px;*/
    /*border:1px solid #ccc;*/
    /*border-top: none;*/
    /*top:34px;*/
/*}*/
/*.wetUitDiv ul li{*/
    /*line-height: 30px;*/
    /*height:30px;*/
    /*text-align: center;*/
/*}*/
/*.wetUitDiv ul li:hover{*/
    /*background:#f5f5f5;*/
/*}*/

/*模版载入 BY ZH*/
.list-box{
    width: 95%;
    margin: -30px auto 0;
    height: 282px;
    line-height: 21px;
    overflow-y: scroll;
    font-size: 14px;
    border-bottom: 1px solid #D9D9D9;
}
.list-box td{
    height:41px;
    border:none;
    text-indent: 0;
    padding-left:30px;
}
.list-box .table-title{
    /*text-indent: 55px;*/
    text-indent: 30px;
}
.pre-list,.advice-list{
    width:100%;
}
.temp-name{
    width:30%;
    background: url("../../images/check.png") no-repeat left center;
    cursor: pointer;
    padding-left:25px;
}
.name-cur{
    background: url("../../images/checked.png") no-repeat left center;
}
.temp-desc{
    width:60%;
    padding-left:55px;
}
.temp-type{
    width: 13%;
}
.single-line{
    overflow: hidden;
}
.advice-temp{
    width:32px;
    height:32px;
    line-height: 20px;
    border:1px solid #dfdfdf;
    text-align: center;
    cursor: pointer;
    float: right;
    font-size: 20px;
    color:#383838;
}
.save-as-common{
    cursor: pointer;
    color: #3d77b9;
    float: right;
    margin-right:10px;
}
.error-pri{
    color:red;
    cursor: pointer;
}
.error-info{
    display: none;
    position: absolute;
    width: 145px;
    height: 30px;
    line-height: 30px;
    right: -10px;
    top: 25px;
    background: #848484;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    z-index: 9;
}

/*打印处方-begin*/
.to-print-prescr{
    display: inline-block;
    width: 88px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: default;
    color: #cccccc;
    background: url("../../images/gray-btn.png") no-repeat center center;
    font-size: 14px;
    margin-left:16px;
}
.to-print-prescr.active{
    cursor: pointer;
    color: #3d77b9;
    background: url("../../images/short-btn-bg.jpg") no-repeat center center;
}

.alert-box .print-config,
.print-check{
    vertical-align: top;
    display: -moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}
.alert-box .print-config{
    padding-top: 18px;
    font-size: 14px;
    line-height: 18px;
    color: #666666;
}
.print-check{
    width: 17px;
    height: 17px;
    margin: 0 4px 0 16px;
    background: url("../../images/check.png") no-repeat 0 0;
    cursor: pointer;
}
.print-check.print-checked{
    background: url("../../images/checked.png") no-repeat 0 0;
}
/*打印处方-end*/
.only-save .charge-tag{
    position: absolute;
    top:50px;
    left:-10px;
    display: none;
}
.only-save:hover .charge-tag{
    display: block;
}
